.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker__input-container>input {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.react-datepicker__input-container>input:focus {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}